/*
1 #ff702a
2 #fff
3 #1e1d2b
4 #000
5 #ffefe8
6 #2c2b47 color menu movil
7 #ffefe8 fondo sección 
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #1e1d2b;
  color: #fff;
  display: block;
}

.section{
  height: 100vh;
  width: 95vw;
}

.logo{
  color: #ff702a;
  font-family:'Poppins', sans-serif;
}

.title{
  color: #ff702a;
  font-size: 70px;
  margin-top: 40%;
}

.button{
  background-color: #ff702a;
  color: #fff;
  font-size: 20px;
  border: none;
  padding: 5px;
}

.textL{
  position: absolute;
  left: 10%;
  top: 10%;
}

.imgR{
  position: absolute;
  left: 60%;
  top: 20%;
}

.imgL{
  position: absolute;
  left: 10%;
  top: 120%;
}

.textR{
  position: absolute;
  left: 60%;
  top: 130%;
}

.tittlemenu{
  position: absolute;
  left: 28%;
  top: 210%;
  text-align: center;
}

.tittlemenu h1 {
  font-size: 40px;
}

.menu1{
  position: absolute;
  left: 10%;
  top: 230%;
  text-align: center;
}

.menu2{
  position: absolute;
  left: 40%;
  top: 230%;
  text-align: center;
}

.menu3{
  position: absolute;
  left: 70%;
  top: 230%;
  text-align: center;
}

.titleservice{
  position: absolute;
  left: 28%;
  top: 310%;
  text-align: center;
}

.titleservice h1 {
  font-size: 40px;
}

.order{
  position: absolute;
  left: 10%;
  top: 330%;
  text-align: center;
}

.shipping{
  position: absolute;
  left: 40%;
  top: 330%;
  text-align: center;
}

.delivered{
  position: absolute;
  left: 70%;
  top: 330%;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2c2b47;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

/* responsive */
nav.active {
  flex-direction: column;
  align-items: flex-start;
}

nav h2.logo {
  font-weight: bold;
  font-size: xx-large;
}

nav .bars {
  position: absolute;
  right: 1rem;
  font-size: xx-large;
  display: none;
}

ul.nav-links {
  display: flex;
}

/* responsive */
nav.active ul.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

li.nav-link {
  list-style: none;
  margin: 0.5rem 1rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}

li.nav-link:hover {
    border: 1px solid #087f5b;
}

li.nav-link.auth {
  border: 2px solid white;
  border-radius: 1rem;
}

li.nav-link a {
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

@media screen and (max-width: 800px) {
  nav .bars {
    display: block;
  }

  nav .nav-links {
    display: none;
  }
}

/* It is ready */
/* Have a good time */